<!DOCTYPE html>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>SSO</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="js/jquery-1.12.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
		<div class="container">
			<div class="row">
				<div class="col-lg-12"><h1>Connexion SSO</h1></div>
			</div>
			<div class="row">
				<div class="col-lg-12"><h2>Simulation avec profil</h2></div>
			</div>
				<form method="POST" action="{{ path('redirect_sso') }}">
        			<input type="hidden" id="urlTargetSSO" name="urlTargetSSO" value=""/>
					<div class="row">
						<div class="col-lg-6 right">
							<label>Application : </label>
						</div>
						<div class="col-lg-6">
							<select name="application" id="application" required>
								<option value="null"></option>
								{% for appli in applications %}
									<option value="{{appli.idApplication}}"id="application">{{appli.nomApplication}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 right">
							<label>Profil : </label>
						</div>
						<div class="col-lg-6">
							<select name="profil" id="profil" required>	
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12"><input type="submit" value=">>> SSO <<<" /></div>
					</div>
				</form>
			</div>
		</div>
        {% endblock %}
		<script>
			function loadProfil() {
				var idApplication = $("#application").val();
				$("#profil").empty();
				$.ajax({
					type : "get",
					url : "profil",
					data:{idApplication},
					dataType: "json",
					success: function(data) {
						$.each(data, function(key, element) {
							var option = $('<option id="user"></option>');
							$.each(element, function(key, element) {
								switch(key) {
								case "idUtilisateur":
									option.attr("value", element);
									break;
								case "ctremoteuser":
									option.text(element);
									break;
								}
							});
							$("#profil").append(option);
						});
					}
         		})
			}
			function changeTargetSSO(idAppli) {
				console.log('hgk')
				$.ajax({
					url : 'alias-appli',
					type : 'GET',
					data : 'idAppli=' + idAppli,
					success : function(data) {
						$('#urlTargetSSO').attr('value', urlTargetSSO + data.aliasApplication);
					} 
				});
			}
			$(document).ready(function() {
				$('#application').change(function() {
					loadProfil();
					changeTargetSSO($(this).val());
				})
			})
		</script>
    </body>
</html>
